@page
@model GroupStudyUI.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1 class="mt-5">About</h1>

    <div class="row">
        <div class="col-md-6">
            <p>Welcome to our Group Study web app! Our app is designed to connect people interested in various fields and knowledge areas. Whether you're passionate about science, social topics, development, pet care, or anything else, you'll find groups dedicated to those subjects right here.</p>

            <p>In our website, you can search for different groups based on your interests. Once you find a group that aligns with your preferences, you can join and start participating in discussions and activities.</p>

            <p>If you have a question related to a particular group, you can post it in the group's forum. Members of the group will have the opportunity to comment and provide answers to your question. It's a collaborative environment where everyone can contribute their knowledge and insights.</p>

            <p>Additionally, if you can't find a group that suits your specific interest, you have the option to create a new group. This way, you can bring people together who share the same passion or want to explore a specific topic.</p>

            <p>Our Group Study web app aims to foster a sense of community and facilitate learning and collaboration. We hope you enjoy your experience and find it valuable in your pursuit of knowledge and personal growth.</p>
        </div>
    </div>
</div>