@page
@model GroupStudyUI.Pages.EditProfileModel

<div class="container bootstrap snippets bootdey">
	<h1 class="text-primary">Edit Profile</h1>
	<hr>
	<div class="row">
		<!-- left column -->
		<div class="col-md-3">
			<div class="text-center">
				<img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
			</div>
		</div>

		<!-- edit form column -->
		<div class="col-md-9 personal-info">

			<h3>Personal info</h3>

			<form class="form-horizontal" role="form" method="post">
				<div class="form-group">
					<label class="col-lg-3 control-label">Name:</label>
					<div class="col-lg-8">
						<input class="form-control" type="text" asp-for="infoUser.Name">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Email:</label>
					<div class="col-lg-8">
						<input class="form-control" type="text" asp-for="infoUser.Email">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Password:</label>
					<div class="col-lg-8">
						<input class="form-control" type="text" asp-for="infoUser.Password">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12 text-center">
						<button asp-route-userId="@Model.infoUser.Id" type="submit" value="Save" class="btn btn-primary">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>