@page
@model GroupStudyUI.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="./css/login.css" rel="stylesheet">
</head>
<body>
    <div class="modal-wrap">
        <div class="modal-bodies">
            <div class="modal-body modal-body-step-1 is-showing">
                <div class="title">Log In</div>
                <div class="description">Welcome to GS Learning System</div>
                <form method="post">
                    <input type="email" placeholder="Email" asp-for="Email" />
                    <input type="password" placeholder="Password" asp-for="Password" />
                    <div class="text-center">
                        <button type="submit" class="button">LOG IN</button>
                        <a asp-page="./Register" class="button">Create an account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
</body>
</html>