@page
@model PrivacyModel
@{
	ViewData["Title"] = "Privacy Policy";
}

<div class="container">
	<h1 class="mt-5">Privacy Policy</h1>

	<p>Your privacy is important to us. This Privacy Policy outlines the types of personal information we receive and collect when you use our Group Study web app and how we safeguard your information. Please read the following carefully to understand our practices regarding your personal data.</p>

	<h3>Information We Collect</h3>

	<p>When you use our web app, we may collect certain personally identifiable information from you, such as your name, email address, and profile information. We may also collect non-personally identifiable information, such as your IP address and usage statistics, to improve our services and user experience.</p>

	<h3>How We Use Your Information</h3>

	<p>The personal information we collect from you is used to provide and improve our web app's functionality, personalize your experience, communicate with you, and fulfill your requests. We may also use the aggregated non-personally identifiable information for analytical purposes and to enhance our services.</p>

	<h3>Disclosure of Your Information</h3>

	<p>We may disclose your personal information to third parties who assist us in operating our web app, conducting our business, or servicing you. However, we will not sell, trade, or transfer your personal information to outside parties without your consent, except as required by law.</p>

	<h3>Security</h3>

	<p>We take appropriate measures to protect your personal information from unauthorized access, alteration, or disclosure. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee the absolute security of your information.</p>

	<h3>Third-Party Links</h3>

	<p>Our web app may contain links to third-party websites or services. These external sites have separate and independent privacy policies. We have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our web app and welcome any feedback about these sites.</p>

	<h3>Changes to This Privacy Policy</h3>

	<p>We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the revised version will be effective immediately upon posting. We encourage you to review this Privacy Policy periodically for any updates.</p>

	<p>If you have any questions or concerns about our Privacy Policy, please contact us.</p>

</div>